SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
AGENT_TOKEN_MINT=<your_clanker_token_mint_address>
DEV_WALLET_ADDRESS=<your_dev_wallet_public_key>
PAYMENT_AUTHORITY_PRIVATE_KEY=<your_base58_private_key>
CRON_SECRET=<random_32_char_hex>
NEXT_PUBLIC_SITE_URL=https://clankergame.fun
